    <!-- Tutoring Section -->
    <section id="tutoring" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Tutoring</h2>
                <p>Schedule @ 106 Allen:
                <!-- <a href="mailto:{{ site.email }}">{{ site.email }}</a> -->
                </p>
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=opustutoring%40gmail.com&amp;color=%23219ab3&amp;ctz=America%2FWinnipeg" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe>
                <h4>Cram Sessions</h6>
                    <p>Four hours of exam reviews led by OPUS tutors.</p>
                <!-- <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul> -->
            </div>
        </div>
    </section>